<?xml version="1.0"?>
<configuration>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
    <system.webServer>
      <staticContent>
        <!-- <mimeMap fileExtension=".json" mimeType="application/json" /> -->
        <mimeMap fileExtension=".md" mimeType="application/text" />
      </staticContent>
      <caching enabled="true" enableKernelCache="true">
         <profiles>
            <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
         </profiles>
      </caching>
    </system.webServer>
</configuration>
