<template>
  <require from="../elements/closeInfo"></require>

  <div class="page-content">

    <div>
      <div class="col-md-3">
        <div class="section">
          <h5 t="details.closeToThisPlace"></h5>
          <hr/>
          <close-info class="info-tile" repeat.for="i of closeInfos" data.bind="i" details.bind="currentDetails"></close-info>
        </div>
      </div>

      <div class="col-md-6 data" id="data">
        <div class="section" innerHTML.bind="data"></div>
      </div>

      <div class="col-md-3">
          <div class="section">
            <h5 t="details.alsoInteresting"></h5>
            <hr/>
          </div>
      </div>

      <div class="col-md-6 col-md-offset-3">
        <div class="section">
            <div id="mc-container"></div>
        </div>
      </div>

    </div>
</div>
</template>
