<template>
  <require from="./detailsClose"></require>

  <div class="page-content container">

    <div>
      <div class="col-sm-4">
        <div class="section">
          <h5 t="details.closeToThisPlace"></h5>
          <hr/>
          <details-close parent-data.bind="currentDetails"></details-close>
        </div>
      </div>

      <div class="col-sm-8 data" id="data">
        <div class="section" innerHTML.bind="data"></div>

        <div class="section">
            <div id="mc-container"></div>
        </div>

      </div>

      <!-- <div class="col-md-3">
          <div class="section">
            <h5 t="details.alsoInteresting"></h5>
            <hr/>
          </div>
      </div> -->
    </div>
</div>
</template>
