<template>

  <require from="../elements/wall"></require>

  <div class="section no-shadow index-top bg-books page-content">
    <!-- <div class="text-center">
      <div class="logo-container"><img class="logo-index" src="content/logo3.png"/></div>
    </div> -->

    <div class="text-center">
      <h1>Литературная карта</h1>
      <h2>города Тюмени</h2>
    </div>
  </div>

  <div class="container">

    <section>
      <h4><i class="fa fa-meh-o"></i>&nbsp;<span t="home.search"></span></h4>
      <form>
        <div class="section">
          <div class="input-group">
            <input value.two-way="query&debounce:1500" type="text" class="form-control" placeholder.bind="'map.searchMessage' | t">
            <span class="input-group-addon" id="basic-addon3"><i class="fa fa-fw fa-search" style="font-size: 20px; color: #aaa"></i></span>
          </div>
        </div>
      </form>
      <wall show-distance.bind="false" infos.bind="searchResult"></wall>
    </section>

    <section>
      <h4><i class="fa fa-star"></i>&nbsp;<span t="home.interestingThisWeek"></span></h4>
      <wall show-distance.bind="false" infos.bind="infos"></wall>
    </section>

    <section if.bind="closestInfos.length">
      <h4><i class="fa fa-map-marker"></i>&nbsp;<span t="home.nearMe"></span></h4>
      <wall infos.bind="closestInfos"></wall>
    </section>

  </div>
</template>
