
body { margin:0; padding:0; }

.spinner {
  width: 40px;
  height: 40px;


  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

.spinner.yellow{
  background-color: #F2D00C;
}
.spinner.blue{
  background-color: #349FF7;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

blockquote {
  border-left: none !important;
  position: relative;
  marign: 0;
  padding: 30px 120px;
  text-align: center;
  font-size: 30px; }
  blockquote:before, blockquote:after {
    position: absolute;
    width: 60px;
    height: 60px;
    font-size: 120px;
    line-height: 1; }
  blockquote:before {
    top: 0;
    left: 0;
    content: "\201C"; }
  blockquote:after {
    bottom: 0;
    right: 0;
    content: "\201D"; }

/* =Media Queries
-------------------------------------------------------------- */
@media only screen and (max-width: 1100px) {
  blockquote {
    font-size: 24px; } }
@media only screen and (max-width: 960px) {
  p {
    font-size: 14px; }

  blockquote {
    padding: 30px 60px;
    font-size: 18px; }
    blockquote:before, blockquote:after {
      width: 30px;
      height: 30px;
      font-size: 60px; } }
@media only screen and (max-width: 690px) {
  blockquote {
    padding: 10px 30px;
    font-size: 16px; }
    blockquote:before, blockquote:after {
      font-size: 30px; } }

author{
  font-style: italic;
  text-align: right;
  width: 100%;
}

.page-content{
  margin-top: 64px;
}

#map
{
  position:absolute;
  top: 64px;
  bottom: 0;
  width: 100%
}

.navbar-nav > li {
  text-transform: uppercase;
}

.logo{
  margin-top: -13px;
}

.marker-thumb img{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.marker-thumb h1{
  font-size: 22px !important;
  font-weight: bold;
}

.img-responsive{
  width: 100%;
}

.iframe-thumbnail{
    padding: 4px;
    line-height: 1.846;
    background-color: #ffffff;
    border: 1px solid #dddddd !important;
    border-radius: 3px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
}
