
body {
  margin:0;
  padding:0;
  background-color: #F5F5F5 !important;
  font-size: 15px !important;
  color: #5f5858 !important;
}

blockquote {
  border-left: none !important;
  position: relative;
  marign: 0;
  padding: 30px 120px;
  text-align: center;
  font-size: 30px; }
  blockquote:before, blockquote:after {
    position: absolute;
    width: 60px;
    height: 60px;
    font-size: 120px;
    line-height: 1; }
  blockquote:before {
    top: 0;
    left: 0;
    content: "\201C"; }
  blockquote:after {
    bottom: 0;
    right: 0;
    content: "\201D"; }

/* =Media Queries
-------------------------------------------------------------- */
@media only screen and (max-width: 1100px) {
  blockquote {
    font-size: 24px; } }
@media only screen and (max-width: 960px) {
  p {
    font-size: 14px; }

  blockquote {
    padding: 30px 60px;
    font-size: 18px; }
    blockquote:before, blockquote:after {
      width: 30px;
      height: 30px;
      font-size: 60px; } }
@media only screen and (max-width: 690px) {
  blockquote {
    padding: 10px 30px;
    font-size: 16px; }
    blockquote:before, blockquote:after {
      font-size: 30px; } }

author{
  font-style: italic;
  text-align: right;
  width: 100%;
}

.page-content{
  margin-top: 64px !important;
}

#map
{
  position:absolute;
  top: 64px;
  bottom: 0;
  width: 100%
}

.logo{
  margin-top: -13px;
}

.marker-thumb img{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.marker-thumb h1{
  font-size: 22px !important;
  font-weight: bold;
}

.iframe-thumbnail{
    padding: 4px;
    line-height: 1.846;
    background-color: #ffffff;
    border: 1px solid #dddddd !important;
    border-radius: 3px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
}

section{
  margin-top: 50px;
}
.section.no-shadow{
  -webkit-box-shadow: none;
  box-shadow: none;
}

.section{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  width: 100%;
  padding: 15px;
  border: none;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.15);
  box-shadow: 0 1px 3px rgba(0,0,0,.15);
}

.section h2{
  margin-top: 0;
  text-shadow: 0 0 10px rgba(0,0,0,.6);
}
.section h1{
  text-shadow: 0 0 10px rgba(0,0,0,.6);
}

.section-fixed{
  width: 300px;
}

.info-tile:last-child hr{
  display: none;
}

.index-top{
  min-height: 400px;
}

.wall-container{
  margin-left: -5px;
  margin-right: -5px;
  position: relative;
}
.wall-item{
  width: 25%;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  float: left;
}

@media(max-width: 768px){
  .wall-item{
    width: 50%;
  }
}

.bg-books{
  background-image: url('../../content/wide_detail_picture.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  padding-top: 59px;
}
.bg-books h1,h2{
  color: white;
  text-transform: uppercase;
}
.bg-books h1{
  font-weight: bold;
}

@media(max-width: 768px){
  .bg-books h1{
    font-size: 26px;
  }
}

.logo-index{
  height: 96px;
  width: 96px;
}
.logo-container{
  padding: 12px;
  border-radius: 50%;
  background: white;
  width: 120px !important;
  height: 120px !important;
  margin-left: auto;
  margin-right: auto;
}

.thumb-small{
  width: 76px;
  height: 76px;
  border-radius: 50%;
  background: #eee;
  position: relative;
  float: right;
  bottom: 22px;
  margin-right: 16px;
}
.thumb-small img{
  width: 64px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px;
}

.footer{
    height: 60px;
    background-color: #444;
    margin-top: 60px;
    color: white;
    line-height: 60px;
    border-bottom: 4px solid #F2D00C;
}
