
body { margin:0; padding:0; }

.loading{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -24px;
  margin-top: -24px;
  -webkit-animation: sk-rotateplane 0.9s infinite ease-in-out;
  animation: sk-rotateplane 0.9s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }
  100% {
    transform: perspective(120px) rotateY(-180.1deg) rotateX(0deg);
    -webkit-transform: perspective(120px) rotateY(-180.1deg) rotateX(0deg)
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }
  100% {
    transform: perspective(120px) rotateY(-180.1deg) rotateX(0deg);
    -webkit-transform: perspective(120px) rotateY(-180.1deg) rotateX(0deg)
  }
}

.page-content{
  margin-top: 64px;
}

#map
{
  position:absolute;
  top: 64px;
  bottom: 0;
  width: 100%
}

.navbar-nav > li {
  text-transform: uppercase;
}

.logo{
  margin-top: -13px;
}
